# Gemini
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash

# Google Sheets
GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_JSON_PATH=
GOOGLE_WORKSHEET_NAME=Sheet1

# Notion
NOTION_API_KEY=
NOTION_PARENT_PAGE_ID=
